trailingComma: 'es5'
tabWidth: 2
useTabs: false
semi: true
singleQuote: true
bracketSpacing: true
bracketSameLine: false
singleAttributePerLine: true
printWidth: 80
arrowParens: always
cursorOffset: -1
embeddedLanguageFormatting: auto
endOfLine: lf
htmlWhitespaceSensitivity: strict
insertPragma: true
jsxSingleQuote: true
proseWrap: preserve
quoteProps: as-needed
rangeEnd: -1
rangeStart: 0
requirePragma: true
plugins:
  - prettier-plugin-astro
