---
import Container from '@components/Container.astro';
import { SITE } from '@consts';
import BackToTop from '@components/BackToTop.astro';
import LightThemeButton from '@components/LightThemeButton.astro';
import DarkThemeButton from '@components/DarkThemeButton.astro';
import SystemThemeButton from '@components/SystemThemeButton.astro';
import LanguagePicker from '@components/LanguagePicker.astro';
---

<footer class='animate'>
  <Container>
    <div class='relative'>
      <div class='absolute right-0 -top-20'>
        <BackToTop />
      </div>
    </div>
    <div class='flex justify-between items-center'>
      <div>
        &copy; 2024 {`|`}
        {SITE.NAME}
      </div>
      <div class='flex flex-wrap gap-1 items-center'>
        <LightThemeButton />
        <DarkThemeButton />
        <SystemThemeButton />
        <LanguagePicker />
      </div>
    </div>
  </Container>
</footer>
